<a href="{{ url }}" onclick="return false;" class="{{base-class}}{{#if modifier}} {{base-class}}--{{ modifier }}{{/if}}{{#if type}} {{base-class}}--{{ type }}{{/if}}{{#if size}} {{base-class}}--{{ size }}{{/if}}">{{ text }}</a>
